<div class="container">
  <h1 style="text-align: center;">En esta sección de blog, encontrarás mis trabajos más recientes</h1>
  <div class="row">
    <div class="col-left">
      <h2>CV</h2>
      <p>Al utilizar HTML y CSS, es posible personalizar completamente el aspecto de la hoja de vida, incluyendo la elección de colores. Deseaba crear una hoja de vida con una apariencia moderna y sofisticada, el color azul es una excelente opción, ya que es un color versátil y se asocia con la confianza, la estabilidad y la profesionalidad, así que por esto y más es mi color favorito.</p>

      <button>
      <a href="https://github.com/KatherineAguirre312/CV-HTML-y-CSS" target="_blank">Si deseas ver mi CV, clic aquí</a>
    </button>
    </div>
    <div class="col-right">
      <img src="assets/images/Cv-html-css.png" class="cv-html-css">
    </div>
  </div>
  <div class="row">
    <div class="col-left">
      <h2>Vídeojuego de la Serpiente</h2>
      <p>Con este vídeojuego fue mi primera vez interactuando con Javascript de una manera más estructurada además de una lógica más profunda. Fue todo un reto porque incluso lo repetí 3 veces porque no me satisfacía en absoluto, pero al final no solo logramos el objetivo, si no que además, hice mejoras interesantes como los botones y su diseño y al terminarla es como si hubiera sonado "We are the champions" de Queen.</p>

      <button>
      <a href="https://github.com/KatherineAguirre312/Snake_Game" target="_blank">Si deseas ver mi vídeojuego de la Serpiente, clic aquí</a>
      </button>
    </div>
    <div class="col-right">
      <img src="assets/images/serpiente.png" class="serpiente">
    </div>
  </div>
  <div class="row">
    <div class="col-left">
      <h2>Vídeojuego Tamagotchi</h2>
      <p>El vídeojuego del Tamagotchi fue jugado y comprado por personas que estuvieron en el boom de los 90's, para ello, se me hizo muy genial hacer por primera vez esto y pese a que fue difícil para mi, al final la satisfacción de logro al verlo funciona y fue maravilloso ver el resultado final y aprendí demasiado con el.</p>
      <button>
      <a href="https://github.com/KatherineAguirre312/Tamagotchi-Pikachu" target="_blank">Si deseas ver mi vídeojuego del Tamagotchi con Pikachu, clic aquí</a>
    </button>
    </div>

  <div class="col-right">
  <img src="assets/images/tamachu.png" class="tamachu" target="_blank">
</div>
</div>


