<div class="parent">
  <div class="container1">
    <div class="col1">
      <img src="assets/images/cvfotoangular.png" class="mifoto">
    </div>
    <div class="col2">
      <h1>Katherine Andrea Castaño Aguirre</h1>
      <h2>Diseñadora, profesora de dibujo y futura Desarrolladora</h2>
      <h3>Soy una persona con que se considera "una rebelde" pero, no quiere decir que vaya en contra de todo, si no que con ese todo que pueda conseguir con experiencia, lo convierto en habilidad y creatividad con un sin fin de ideas en todo campo que me pongan.</h3>
    </div>
  </div>

  <div class="skill-bar">
    <div class="skill-bar-item">
      <p>HTML</p>
      <div class="bar-container">
        <div class="bar" style="width: 90%"></div>
        <p class="percentage">90%</p>
      </div>
    </div>
    <div class="skill-bar-item">
      <p>CSS</p>
      <div class="bar-container">
        <div class="bar" style="width: 70%"></div>
        <p class="percentage">70%</p>
      </div>
    </div>
    <div class="skill-bar-item">
      <p>Javascript</p>
      <div class="bar-container">
        <div class="bar" style="width: 60%"></div>
        <p class="percentage">60%</p>
      </div>
    </div>
    <div class="skill-bar-item">
      <p>Angular</p>
      <div class="bar-container">
        <div class="bar" style="width: 40%"></div>
        <p class="percentage">40%</p>
      </div>
    </div>
  </div>

  <div class="container2">
    <div class="col3">
      <h2>EXPERIENCIA</h2>
      <h3>PSL - Perficient Latin America</h3>
      <p>Prácticas tecnológias en comunicación gráfica SENA - 2015</p>

      <h3>Abogada Marión Alvarez</h3>
      <p>Diseñadora y Community manager para la Abogada Marión Alvarez - 2016</p>

      <h3>Escuela de Cómic Medellín</h3>
      <p>Diseño Web, creadora de proyectos y profesora de dibujo realista 2019 - presente</p>

      <h2>REFERENCIAS</h2>
      <h3>Daniel Andrés Castaño Aguirre</h3>
      <p>301 360 7291</p>

      <h3>Erika Zapata</h3>
      <p>300 231 3170</p>

      <h3>Saul Valencia Bustamante</h3>
      <p>310 833 7774 - Escuela de Cómic Medellín</p>
    </div>
    <div class="col4">
      <h2>EDUCACIÓN</h2>
      <h3>Bachiller académico</h3>
      <p>I.E San Vicente de Paul - 2010</p>

      <h3>Diseño para la comunicación gráfica</h3>
      <p>SENA - 2015</p>

      <h2>CERTIFICACIONES</h2>
      <h3>Introducción al desarrollo web I y II</h3>
      <p>Google Activate - 2022</p>

      <h3>Curso definitivo de HTML y CSS</h3>
      <p>PLATZI - 2023</p>

      <h3>Programación Básica</h3>
      <p>PLATZI - 2023</p>

    </div>
  </div>
</div>
